.card-deck {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: scroll;

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(192, 192, 192);
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 6px;
    background-color: transparent;
  }

  .card-movie {
    min-width: 150px;
    width: 150px;
    background-color: transparent !important;
    border: none !important;

    &.trailer {
      min-width: 300px;
      width: 300px;

      .card-img-top {
        height: 170px;
        object-fit: cover;
        object-position: bottom;
      }

      .card-body {
        padding-top: 10px;

        .card-title, .card-subtitle {
          margin: 0;
          color: white !important;
          text-align: center;
        }
    
        .card-title { font-size: 19px; }
        .card-subtitle { font-size: 16px; }
      }
    }
    
    &:not(:first-child) { margin-left: 20px; }
    &:first-child { margin-left: 40px; }

    .card-img-top { border-radius: 8px; }

    .card-body {
      position: relative;
      padding: 26px 10px 12px 10px;

      .card-title { font-size: 16px; }
      .card-subtitle {
        margin: 0;
        font-size: 15px;
        font-weight: normal;
      }

      .player {
        position: absolute;
        top: -110px;
        left: 135px;
        
        .play {
          width: 40px;
          height: 40px;
          color: #fff;
        }
      }

      .rating {
        position: absolute;
        top: -19px;
        left: 10px;
        width: 38px;
        height: 38px;
        padding: 2px;
        border-radius: 50%;
        background-color: #081c22;
      }

      .progress {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;
        border-radius: 50%;
      }
      
      .card-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: #081c22;
        font-size: 14px;
        font-weight: 600;
        color: #fff;

        .percent {
          position: relative;
          top: -2px;
          right: 0px;
          font-size: 6px;
        }
      }
    }
  }
}